/*** Style Sheet for geoTraveler ***/

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	font-weight: normal;

	background-color: #fff;
}

#container {
	margin: 0 auto;
	width: 960px;
	z-index: 2;
}

header {
	width: 100%;
	/*float: left;*/
}

#banner {
	height: 377px;
	width: 100%;
	position: absolute;
	top: 160px;
	z-index: -1;

	background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.33, rgb(0,84,144)),
    	color-stop(0.93, rgb(0,24,42))
	);
	background-image: -moz-linear-gradient(
    	center top,
    	rgb(0,84,144) 33%,
    	rgb(0,24,42) 93%
	);
}

aside {
	width: 225px;
	height: 500px;
	float: left;
	margin-right: 10px;
	color: #fff;
}
	aside h3 {
		color: #000;
		font-size: 0.7em;
	}
	aside h4 {
		margin-top:28px;
	}

#map {
	width: 700px;
	height: 435px;
	background-color: #fff;
	float: left;
	clear: right;
	border: 1px solid #00528e;
	margin-bottom: 10px;
}

#dashboard {
	width: 700px;
	min-height: 300px;
	float: left;
	padding-top: 10px;
}

.main ul {
	text-align: center;
}
	.main ul li {
		margin-bottom: 7px;
		border-bottom: 1px solid #00528e;
		height: 25px;
	}

footer {
	position: relative;
	float: left;
	width: 1120px;
	text-align: center;
}

#register {
	background-color: #fff;
	border: 1px solid #00528e;
	margin: 110px auto 0 auto;
	padding: 15px;
	width: 60%;
}
	#register input {
		margin: 10px 0;
	}
	#register label {
		width: 150px;
		display: inline-block;
	}

#geo_locs p, #geo_locs h4 {
	margin: 10px 0 5px 0;
	color: #c2c2c2;
}	
	#geo_locs p:hover, #geo_locs h4:hover {
		color: #00528e;
	}

#geo_locs p {
	margin-bottom: 30px !important;
}

#geo_locs h4 {
	border-bottom: 1px solid #c2c2c2;
}

/*** Login ***/
aside form {
	margin-top: 10px;
}
	aside p {
		margin-top: 8px;
	}

#login_main input[type=submit] {
	margin-top: 10px;
}

.index_column {
	float: left;
	width: 30%;
	margin-left: 3%;
}

/*** Dashboard ***/
#add_location {
	margin-top: 10px;
	width: 100%;
	height: 25px;
}	

#add_button {
	margin-top: 8px;
	margin-bottom: 20px;
}

#dash_list li {
	margin-top: 10px;
}

/*** Type ***/
h1 {
	
}

h2 {
	font-weight: bold;
	font-size: 1.4em;
	color: #00538f;
	float: right;
	margin: 50px 80px 0 0;
}

h3 {
	color: #00538f;
	font-size: 1.2em;
	margin-bottom: 25px;	
}

h4 {
	border-bottom: 1px solid #00538f;
	height: 20px;
}

p {
	font-size: 0.8em;
	line-height: 1.2em;
}

.white {
	color: #fff;
	border-color: #fff;
}

.error {
	color: red;
	margin-bottom: 10px;
}

.success {
	color: green;
	margin-bottom: 10px;
}

a {
	color: #c2c2c2;
	text-decoration: none;
}

.logout {
	float: left;
	margin-top: -24px;
}